*{
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(50, 50, 88);
}

main h1{
    justify-self: center;
    font-size: 3rem;
    margin: 1rem;
}

@keyframes fadeFromBlack {
    0% {
        opacity: 0;
        filter: brightness(0);
    }
    100% {
        opacity: 1;
        filter: brightness(1);
    }
}

main img {
    display: block;
    margin: 1rem;
    justify-content: center;
    justify-self: center;
    animation: fadeFromBlack 2s ease-in-out;
    animation-fill-mode: forwards;
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    height: 75px;
    padding: 1rem;
    align-content: center;
}
