*{
    margin: 0;
    padding: 0;
}

:root {
    --main-color: rgb(50, 50, 88);
}

main h1{
    justify-self: center;
    font-size: 3rem;
    margin: 1rem;
}

@keyframes fadeFromBlack {
    0% {
        opacity: 0;
        filter: brightness(0);
    }
    100% {
        opacity: 1;
        filter: brightness(1);
    }
}

main img {
    display: block;
    margin: 1rem;
    margin: 1rem auto;
    max-width: 400px;
    opacity: 0;
    filter: brightness(0);
    transition: opacity 1s ease-in-out, filter 1s ease-in-out;
}

main img.fade-in{
    opacity: 1;
    filter: brightness(1);
}

footer {
    background-color: var(--main-color);
    color: white;
    text-align: center;
    height: 75px;
    padding: 1rem;
    align-content: center;
    font-size: large;
}

footer p{
    margin: 1rem;
}
