@media screen and (min-width: 600px) {

header, main, footer{
    min-width: 100%;
}

header{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.navigation {
  margin-top: 1rem;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  padding-left: 4rem;
  padding-right: 4rem;
}

header h1{
  margin-bottom: 1rem;
  align-items: center;
}

#menu {
display: none;
}

/* Main */

main {
    display: grid;
    grid-template-columns: 1fr;       
    grid-template-rows: auto 1fr; 
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

main h1 {
    grid-row: 1;
    text-align: center;
    margin: 0;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);                                                      
    box-sizing: border-box;
  }

  img {
    width: 80%;                            
    height: auto;
                   
  }
}