*{
    margin: 0;
    padding: 0;
}

:root {
    --cardColor: rgba(157, 167, 201, 0.2);
}

main, header, footer {
    width: 100%;
    padding: 1rem;
}

body {
    font-family: 'Michroma', sans-serif;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header / Nav */

header h1{
    font-size: 1.8rem;
    align-self: center;
    color: white;
}

header {
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    background-color: darkblue;
}

nav {
    background-color: darkslategray;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
}

nav ul.navigation.open {
  display: flex;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: small;
}

nav a:hover {
    background-color: white;
    color: black;
}

/* Menu */

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1.8rem;
    right: 1.5rem;
}

#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "❎";
    font-size: 1.3rem;
}

/* Main */

main h2 {
    text-align: center;
    margin-bottom: 13px;
    font-size: 2rem;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
    margin: 0 auto;
}

.card img {
    width: 80%;
    height: auto;
    margin: 1rem 0;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}

.card{
    background-color: var(--cardColor);
    text-align: center;
}

.card h2{
    font-size: 1.3rem;
    margin-top: 0.7rem;
}

.card p{
    font-size: 0.9rem;
}
/* Footer */

footer {
    font-size: x-small;
    text-align: center;
    background-color: darkslateblue;
    color: white;
}