@media screen and (min-width: 600px) {

header, main, footer{
    max-width: 100%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav{
    background-color: transparent;
}

nav a{
    font-size: 1.1rem;
    max-width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

nav ul.navigation {
    display: flex;      
    flex-direction: row;
    background-color: none;
}

#menu {
display: none;
}

main {
    display: grid;
    grid-template-columns: 1fr;       
    grid-template-rows: auto 1fr; 
    gap: 1rem;
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
  }

main h1 {
    grid-row: 1;
    text-align: center;
    margin: 0;
  }

.container {
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-evenly;
  }

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);  
    gap: 0.5rem;                           
    padding: 2rem;                          
    box-sizing: border-box;
  }

  figure {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  img {
    width: 90%;                            
    height: auto;
    display: block;
    margin: 0 auto;                   
  }
}