*{
    margin: 0;
    padding: 0;
}

main, header, footer {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
    background-color: lightblue;

}

body {
    font-family: 'Michroma', sans-serif;
}

header h1{
    font-size: 1.rem;
}

header {
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    background-color: darkcyan;
}

nav {
    background-color: darkslategray;
}

nav ul {
    list-style: none;
    display: none;
    flex-direction: column;
}

nav ul.navigation.open {
  display: flex;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: small;
}

nav a:hover {
    background-color: white;
    color: black;
}

#menu{
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

#menu::before {
    content: "☰";
}
#menu.open::before {
    content: "❎";
}

main h1 {
    text-align: center;
    margin-bottom: 13px;
    font-size: x-large;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}

img {
    width: 100%;
    height: auto;
    margin: 0.5rem 0;
}

figcaption {
    font-size: small;
}

footer {
    font-size: x-small;
    text-align: center;
}
